= form_tag(reports_path, method: :post, id: 'generate_form') do
  = hidden_field_tag :name, report.name
  = hidden_field_tag :queued_at, Time.now
  = hidden_field_tag :state, 'NEW'
  = hidden_field_tag :mime_type, report.mime_type
  = hidden_field_tag :dsn, report.dsn
  = hidden_field_tag :db_unit, report.db_unit
  = hidden_field_tag :batch_size, report.batch_size
  = hidden_field_tag :msg_model, report.msg_model
  = hidden_field_tag :file_ext, report.file_ext
  = hidden_field_tag :data_header, report.data_header
  = hidden_field_tag :money_format, report.money_format
  - if report.params_cnt.present? and report.params_cnt > 0
    - (1..report.params_cnt).each do |i|
      %table.rp-modal-table
        %tr
          %td
            = label_tag report["param#{i}"]["param#{i}_name"] || "Parameter #{i}"
          %td
            = send("#{report["param#{i}"]["param#{i}_type"] || 'text'}_field_tag", "param#{i}_value")
            = hidden_field_tag "param#{i}_type", report.send("param#{i}_type")
            = hidden_field_tag "param#{i}_name", report.send("param#{i}_name")
  - if params[:schedule] == 'true'
    %table.rp-modal-table
      %tr
        %td= label_tag 'Run At'
        %td= datetime_local_field_tag :run_at
  %div
    = submit_tag 'Generate', class: 'rp-btn'
