= form_tag(reports_path, method: :post, id: 'generate_form') do
  = hidden_field_tag :name, report.id
  = hidden_field_tag :queued_at, Time.now
  = hidden_field_tag :state, 'NEW'
  = hidden_field_tag :mime_type, report.mime_type
  = hidden_field_tag :dsn, report.dsn
  = hidden_field_tag :db_unit, report.db_unit
  = hidden_field_tag :batch_size, report.batch_size
  = hidden_field_tag :msg_model, report.msg_model
  = hidden_field_tag :file_ext, report.file_ext
  = submit_tag 'Generate'
