%br
%h1 Setup : 

%table.rp-table
  %thead{style: 'text-align:center; font-weight:bold;'}
    %tr
      %th Scheme
      %th Host
      %th Username
      %th

  %tbody{style: 'text-align:center;'}
    - @settings.each do |setting|
      %tr
        %td= setting.scheme
        %td= setting.host
        %td= setting.username
        - if policy(setting).edit?
          %td= link_to 'Edit', edit_setting_path(setting)
        - else
          %td

%br

= link_to 'New Setting', new_setting_path if @settings_count == 0 && policy(Rp::Setting).new?